@import '@styles/common';

.home {
  animation-duration: 400ms;
  animation-name: key-fade-in;
  animation-timing-function: ease-in-out;

  &__home-container {
    background-color: $argentinian-blue;
  }

  &--bg-primary {
    background-color: $color-primary;
  }
}
